
  @media screen and (max-width: 1000px){

    .wrapper {
      width: 100%;
      margin: 0 auto;
  }

    .content-wrap {
      margin: 80px 0 0;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: column;
  }

  .content-wrap.two-col .col {
    margin-left: 2%;
  }




}














@media all and (max-width:700px){

  a{
    background: green;
  }
}